main .container {
    padding: 0;
    margin-top: 100px;
    margin-bottom: 60px;
}

#tabs .our_works_photo {
    max-width: 393px;
}

#tabs .our_works_photo img {
    margin-bottom: 30px;
}

#tabs .our_works_photo p:first-of-type {
    margin-bottom: 15px;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    color: #495057;
}

#tabs .our_works_photo p:last-of-type {
    margin-bottom: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #212529;
}

main #tabs .our_works_slogan {
    max-width: 393px;
    position: absolute;
    top: 20px;
}

main #tabs .our_works_slogan h2 {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    color: #212529;
}

.ui-widget {
    font: 12px/25px 'poppinsmedium', sans-serif;
    font-weight: 500;
}

.ui-widget.ui-widget-content {
    width: 100%;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #495057;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
    background: transparent;
    color: transparent;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: revert;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0;
    margin-left: 25px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background: transparent;
    font-weight: normal;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    color: #C4C4C4;
    text-decoration: none;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: black;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0;
}

.ui-widget-header {
    border: none;
    background: transparent;
    color: transparent;
    font-weight: normal;
}

.ui-widget {
    font-style: normal;
    font-weight: 500;
    color: #495057;
}


.ui-tabs .ui-tabs-nav {
    display: flex;
    justify-content: flex-end;
    margin: 44px 0 56px;
}

.ui-tabs .ui-tabs-panel {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}