.ph_skills_1{
    position: relative;
    min-height: 600px;
}
.ph_skills_1 img{
    position: absolute;
    right: 0;
    bottom: -89px;
}
.ph_description{
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    max-width: 1340px;
    top: 344px;
}
.ph_description p{
    font-family: 'poppinslight',sans-serif;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: var(--mainWhiteColour);
    margin-bottom: 15px;
}
.ph_description h3{
    font-family: 'poppinsbold',sans-serif;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: var(--mainWhiteColour);
}
.editors_picks{
    padding-top: 189px;
    padding-bottom: 101px;
    background-color: rgba(94, 94, 94, 0.05);
}
.container_editors_picks{
    max-width: 1240px;
    margin: auto;
}
.editors_picks h4{
    font-family: 'poppinsmedium',sans-serif;
    font-size: 25px;
    line-height: 20px;
    color: #495057;
    margin-bottom: 60px;
}
.picks{
    display: flex;
    justify-content: space-between;
}
.list_of_picks article{
    display: flex;
    margin-bottom: 40px;
}
.picks_of_photo img{
    width: 100%;
    display: block;
}
.pick{
    max-width: 287px;
    margin-left: 30px;
}

.pick p{
    font-family: 'poppinslight',sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: var(--mainTextColour);
    margin-bottom: 15px;
}
.pick h5{
    font-family: 'poppinsmedium',sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: var(--mainBlackColour);
    margin-bottom: 15px;
}
.ph_skills_2{
    max-width: 604px;
    position: relative;
}
.ph_skills_2 p{
    font-family: 'poppinslight', sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: var(--footerBtArt);
    margin-bottom: 15px;
}
.ph_skills_2 h5{
    font-family: 'poppinsbold',sans-serif;
    font-size: 25px;
    line-height: 40px;
    color: var(--mainWhiteColour);
    margin-bottom: 15px;
}
.ph_skills_2 .description{
    position: absolute;
    top: 403px;
    left: 50px;
    max-width: 393px;
}
.ph_skills_2 .skills_2 img{
    width: 100%;
    display: block;
}
.owl-carousel .owl-item img{
    width: 1340px;
    position: absolute;
    right: 0;
    bottom: -89px;

}
.owl-dots{
    width: 600px;
    display: inline-flex;
    justify-content: center;

}
.owl-carousel .owl-stage-outer{
    overflow: visible;
}
.photo_skills .owl-dots .owl-dot span:before{
    content: "1";
}





